@import "variables";
@import "reset";
@import "font";

#wrap { 
    & * { margin: 0; padding: 0; color: #333; line-height: 24px; font-size: 14px; box-sizing: border-box; -webkit-box-sizing: border-box; }
}

h1 { padding: 30px; color: #fff; line-height: 60px; font-size: 28px; text-align: center; background: #f1658a;  }
.btn_group { padding: 10px;  text-align: center; }
.txt_group { margin-top: 50px;
    li { color: #333; line-height: 30px; font-size: 15px; text-align: center; }
}
.btn_pop { display: inline-block; padding: 0 20px; min-width: 60px; height: 30px; border: 0 none; border-radius: 2px; color: #fff; background: #1f568a; vertical-align: top; }
.pop_wrap  { display: none; position: absolute; top: 50%; left: 50%; width: 300px; border-radius: 5px; transform: translate( -50%, -50%); background: #fff; box-shadow: 3px 3px 5px 5px rgba(0,0,0,0.1); z-index: 100;
    .pop_hd { padding: 10px 50px; border-bottom: 1px solid #ddd; line-height: 30px; font-size: 18px; text-align: center;  }
    .pop_bd { padding: 50px; }
    .pop_ft { padding: 10px; border-top: 1px solid #ddd; height: 30px; line-height: 30px; text-align: center; }
    .btn_close { position: absolute; top: 0; right: 0; width: 50px; height: 50px; border: 0 none; color: #777; font-size: 20px;  background: none;   }    

}
.btn_confirm { display: inline-block; padding: 0 20px; min-width: 40px; height: 30px; border: 0 none; border-radius: 2px; color: #fff; background: #1f568a; vertical-align: top; }
.btn_cancle { display: inline-block; padding: 0 20px; min-width: 40px; height: 30px; border: 0 none; border-radius: 2px; color: #fff; background: #555; vertical-align: top; }
.dim { display: none;  position: fixed; top: 0; left: 0; width: 100%; height: 100%; background: rgba(0,0,0,0.5); z-index: 99; }