@import "variables";
@import "reset";
@import "font";

body {
  font-size: $pcFontSize;
  font-family: $baseWebfont;
  line-height: 1.4;

  @include media("mobile") {
    font-size: $mobileFontSize;
  }
}

button {
  border: none;
  background: none;
  padding: 0;
  margin: 0;

  &.btn {
    border: 1px solid #000;
    border-radius: 3px;
    margin: 10px;
    padding: 0 20px;

    &:active {
      background-color: #000;
      color: #fff;
    }
  }
}

.layer_style {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;

  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 10%;

  display: none;

  @include bgColor(#000, 0.7);
}

.layer_wrapper {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 100%;
  flex: 0 0 100%;
  @include bgColor(#fff);

  > * {
    padding: 15px;
  }

  .layer_header {
    position: relative;

    .btn_close {
      position: absolute;
      top: 50%;
      right: 15px;
      padding: 10px;

      -webkit-transform: translate(0, -50%);

      transform: translate(0, -50%);

      svg {
        width: 20px;
        height: 20px;
        fill: #000;
        vertical-align: top;
      }
    }
  }

  .layer_body {
    overflow-y: auto;
    max-height: 100%;

    border: {
      top: 1px solid #d3d3d3;
      bottom: 1px solid #d3d3d3;
    }
  }

  .layer_footer {
  }
}
